body{
    background-color: #6b9eef;
}
.header{
    text-align: center;
}
.username1{
    
}
.searchBtn{
    background-color: #041735;
    width: 110px;
}
.searchBtn:hover{
    background-color: #0b2f68;
}

.searchBtn:focus {     
    background-color:#041735;    
}
#listofrepo{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color:black;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #d3e4ff;
/*    text-align: center;*/
}
.card:hover{
    box-shadow: 5px 5px 5px grey;
}
.starimg{
    width: 50px;
    height: 30px;
}
.forkimg{
    width:15px;
    height:10px;
}
.loader {
    width: 200px;
    height: 100px;
    align-content: center;
}
.finalstatement:hover{
    color:blue;
}























